
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*------------------------------ ABOUT HERO   */

.about-hero {
    position: relative;
    height: 70vh;
    background: url("assets/images/about/learn_more/AboutOpeningImage.png") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.about-hero-content {
    position: relative;
    max-width: 750px;
    padding: 20px;
}

.about-hero-content .tag {
    display: inline-block;
    background: #ff6b6b;
    color: #fff;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 15px;
}

.about-hero-content h1 {
    font-size: 65px;
    font-weight: bold;
    margin-bottom: 10px;
}


.about-hero-content img {
    width: 500px;
    margin: 10px 0;
    filter:
        drop-shadow(0px 0px 181.171px #FFFFFF) 
        drop-shadow(0px 0px 51.7632px #FFFFFF) 
        drop-shadow(0px 0px 25.8816px #FFFFFF);
}

.about-hero-content p {
    margin-top: 30px;
    font-size: 16px;
    line-height: 1.6;
    color: #ddd;
    font-weight: 500;
}

/*------------------------------ ABOUT STORY SECTION   */
.about-story {
    padding: 80px 10%;
    background: url('assets/images/about/learn_more/Banig.png')center/cover no-repeat;
}
.about-story-container {
    display: grid;
    grid-template-columns: 1.2fr 1fr;
    gap: 50px;
    align-items: center;
}

.about-story-text span.about-story-badge {
    background: #4f9da6;
    color: #fff;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 15px;
}

.about-story-text h2 {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 20px;
}

.red {
    color: #e74c3c;
}

.blue {
    color: #3498db;
}

.yellow {
    color: #f1c40f;
}

.about-story-text p {
    font-size: 15px;
    color: #555;
    line-height: 1.7;
    margin-bottom: 15px;
}

.about-story-icon {
    display: flex;
    gap: 30px;
    margin-top: 25px;
}

.about-story-icon div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.about-story-icon i {
    font-size: 24px;
}

.about-story-icon .icon1 i {
    color: #e74c3c;
}

.about-story-icon .icon2 i {
    color: #3498db;
}

.about-story-icon .icon3 i {
    color: #f1c40f;
}

.about-story-icon p {
    margin: 0;
    font-size: 14px;
}

.about-story-icon span {
    display: block;
    font-weight: bold;
}

/* RIGHT IMAGES */
.about-story-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-top {
    display: flex;
    gap: 20px;
}

.img-top img {
    width: 48.5%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

.img-bottom img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 15px;
}

/* ---------------------------------------------- */

.about-mission {
    background-color: #FFFEE8;
    padding: 80px 20px;
    text-align: center;
}

.mission-container {
    max-width: 1300px;
    margin: auto;
}

.mission-badge {
    background: #6ea0b8;
    color: white;
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 20px;
    display: inline-block;
    margin-bottom: 15px;
}

.mission-container h1 {
    font-size: 28px;
    margin-bottom: 30px;
}


.mission-quote {
    background: #ead5b7;
    padding: 25px;
    border-left: 4px solid #e26d5c;
    max-width: 850px;
    margin: 0 auto 50px;
    text-align: left;
    color: #c94c3b;
    border-radius: 6px;
}

.mission-quote .quote-icon {
    font-size: 30px;
}


.mission-quote p {
    margin-bottom: 10px;
    color: #CC4C3F;
    font-size: 18px;
}

.mission-quote span {
    font-style: italic;
    font-size: 13px;
}


.mission-box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}


.mission-box {
    background: #ffffff;
    padding: 35px 25px;
    border-radius: 10px;
    text-align: left;
    transition: 0.3s;
    border: solid 2px #E6C69B;
}

.mission-box:hover {
    transform: translateY(-5px);
}

.mission-box div {
    margin-bottom: 10px;
}

.mission-box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
    display: block;
}

.mission-box h3 {
    margin-bottom: 10px;
}

.mission-box p {
    font-size: 14px;
    color: #CC8D37;
}

/*------------------------------ TEAM SECTION   */

.team {
    padding: 100px 0 100px 50px;
    background: url('assets/images/about/team/Banig.png')center/cover no-repeat;
    text-align: center;
}

.team-tag {
    background: #9B7BB8;
    color: white;
    padding: 6px 18px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
}

.team-container h1 {
    font-size: 65px;
}

.team-container p {
    font-size: 20px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 100px;
}




/* ---------------------------TEAM CARD DESIGN */
.team-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 100px;
    justify-content: center;
    align-items: flex-start;
    margin-top: 25px;
}

.team-card-container .card {
    flex: 0 1 calc(30% - 40px);
    max-width: 550px;
}

.team-card-container .card {
    display: flex;
    align-items: center;
    width: 60vw;
    max-width: 500px;
    padding: 20px 30px 20px 0;

    background: linear-gradient(135deg, #3e2723, #6d4c41, #a1887f);
    border-radius: 24px;
    box-shadow: 0 20px 40px rgba(62, 39, 35, 0.3);

    color: #fff8f0;
    transition: all 0.4s ease;
}


.team-card-container .card:hover {
    transform: translateY(-10px);

    box-shadow: 
        0 20px 40px rgba(62, 39, 35, 0.6),
        0 0 30px rgba(93, 64, 55, 0.6),
        0 0 60px rgba(141, 110, 99, 0.5),
        0 0 100px rgba(188, 170, 164, 0.4),
        0 0 140px rgba(215, 204, 200, 0.3); 


}


.img-container {
    overflow: hidden;
    border-radius: 24px;
    flex-shrink: 0;

    margin-left: -60px;
    margin-right: 15px;
}

.img-container img {
    width: 180px;
    height: 280px;
    object-fit: cover;
border-radius: 24px;
    transition: transform 0.4s ease;
}

    .card:hover .img-container img {
    transform: scale(1.2);
}


.team-card-container .card-content h2 {
    text-align: left;
    font-size: 26px;
    font-weight: 400;
    margin-top: 0;
    margin-right: 30px;
    margin-bottom: 6px;
}

.team-card-container .card-content h3 {
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 12px;
    opacity: 0.8;
    color: #f1e3d3;
}

.team-card-container .card-content p {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 30px;
    opacity: 0.42S;
    text-align: justify;
}


.team-card-container .card-content .buttons {
    display: flex;
    gap: 12px;
}


.team-card-container .card-content .buttons a {
    border: 1px solid #d7ccc8;
    background-color: transparent;
    color: #fff8f0;
    width: 40%;
    min-width: 100px;
    text-align: center;
    font-family: inherit;
    padding: 12px  26px;
    font-size: 16px;
    border-radius: 40px;
    cursor: pointer;
    text-decoration: none;
}

.team-card-container .card-content .buttons a.primary {
    background: linear-gradient(135deg, #c69c6d, #8d6e63);
    color: #fff;
    border: none;
}


.team-card-container .card-content .buttons a:hover {
    transform: translateY(-2px);
    transition: 0.3s;
}

.team-card-container .card-content .buttons a.primary:hover {
    background: linear-gradient(135deg, #d7b899, #a1887f);
}




/* ----------------------------------------DESCOVER SECTION */

.descover .flag {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 0;
    pointer-events: none;
}
.descover .flag img {
    width: 100%;
    height: auto;
}


.descover {
    background: #5b401e;
    text-align: center;
    padding: 0 0 50px 0;
    color: #ffffff;
}

.descover .descover-tag {
    background: #df493f;
    color: white;
    padding: 6px 50px;
    border-radius: 20px;
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 15px;
}

.descover h1 {
    font-size: 60px;
}

.descover span {
    color: #F6C453;
}

.descover p {
    font-size: 20px;
}


.descover-btn {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.descover-btn a{
    font-size:25px;
    padding:12px 30px;
    background:#0F7009;
    color:white;
    text-decoration:none;
    border-radius:10px;
    font-weight:600;
    transition: 0.3s;
}


.descover-btn a:hover{
    background: #13910C;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}

.descover-btn .primary {
    font-size: 25px;
    border: 1px solid #d7ccc8;
    background-color: transparent;
    color: #fff8f0;
    min-width: 100px;
    text-align: center;
    border-radius:10px;
    text-decoration: none;
}

.descover-btn .primary:hover {
    background: #c69c6d;
    color: #fff;
    border-color: #c69c6d;
    transform: translateY(-3px);
    box-shadow: 0 8px 20px rgba(198, 156, 109, 0.4);
}






@media (max-width: 768px) {

    /* -----------------------------------ABOUT HERO MOBILE */

    .about-hero-content .tag {
        font-size: 12px;
    }

    .about-hero-content h1 {
        font-size: 40px;
    }

    .about-hero-content img {
        width: 300px;
    }

    .about-hero-content p {
        font-size: 14px;
    }

    /* -----------------------------------ABOUT STORY MOBILE */
    .about-story {
        padding: 80px 20px;
        background-size: cover;
        background-position: center;
    }

    .about-story-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        text-align: center;
    }

    .about-story-text h2 {
        font-size: 28px;
    }

    .about-story-text p {
        font-size: 12px;
    }

    .about-story-images {
        width: 100%;
    }

    .img-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .img-top img {
        width: 100%;
        height: 100px;
        object-fit: cover;
    }

    .img-bottom img {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    /* --------------------------------------- */

    .mission-box-container {
        grid-template-columns: 1fr;
    }
    .mission-container h1 {
        font-size: 22px;
    }


    /* ---------------------------------------- TEAM SECTION MOBILE*/

    .team-tag {
    font-size: 20px;
    }

    .team-container h1 {
        font-size: 30px;
        max-width: 400px;
        padding: 10px 40px;
    }

    .team-container p {
        font-size: 15px;
        margin: auto;
        margin-bottom: 80px;
        padding: 0 20px;
    }

    .team {
        padding: 50px 0;
    }

    .team-card-container .card {
        margin: 0 10px;
        padding: 20px;
        width: 100%;
        flex-direction: column;
        text-align: center;
        margin-bottom: 60px;
    }


    .img-container {
        margin: -80px 0 20px 0;
        width: 100%;
    }

    .img-container {
        width: 140px;
        height: 140px;
        margin: -70px auto 15px;
        border-radius: 50%;
        overflow: hidden;
    }

    .img-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }

    .team-card-container .card-content {
        padding: 0 10px;
    }

    .team-card-container .card-content h2 {
        font-size: 20px;
        margin-bottom: 5px;
    }

    .team-card-container .card-content h3 {
        font-size: 14px;
        margin-bottom: 8px;
    }

    .team-card-container .card-content p {
        font-size: 13px;
        line-height: 1.5;
        margin-bottom: 15px;

    }

    .team-card-container .card-content .buttons {
        justify-content: center;
        gap: 10px;
    }

    .team-card-container .card-content .buttons a {
        font-size: 14px;
        padding: 10px 14px;
    }


    /* ----------------------------------------DESCOVER SECTION MOBILE*/

    .descover {
        padding: 0 20px;
    }

    .descover .descover-tag {
        font-size: 18px;
        padding: 6px 20px;
    }

    .descover h1 {
        font-size: 28px;
        line-height: 1.3;
    }

    .descover p {
        font-size: 16px;
    }

    .descover .flag {
        top: 0%;
        left: 45%;
    }


    .descover .flag img {
        width: 110%;
    }

    .descover-btn {
        flex-direction: column;
        gap: 15px;
    }

    .descover-btn a {
        width: 90%;
        font-size: 18px;
        margin: auto;
    }

    .descover-btn .primary {
        font-size: 18px;
    }

}

